<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite2" verbose="1" data-provider-thread-count="2">

	<listeners>
		<listener class-name="Initialize.Listener" />
	</listeners>


	<test name="Group" preserve-order="true" parallel="methods"
		thread-count="1">

		<classes>
			<class name="TestCase.DragNdrop"/>
		</classes>
	</test>

</suite>