<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="Group" preserve-order="true" parallel="classes" thread-count="1">
        <classes>
            <class name="TestCase.CheckBoxes"/>
            <class name="TestCase.DragNdrop"/>
            <class name="TestCase.ContextMenu"/>
            <class name="TestCase.DatePicker"/>
            <class name="TestCase.DropDown"/>
        </classes>
    </test>

</suite>