<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="iniitialize.Listener"/>
    </listeners>

    <test name="Group" preserve-order="true" parallel="classes" thread-count="3">

        <classes>
            <class name="TestCase.ContextMenu"/>
        </classes>
    </test>

</suite>